@charset "EUC-KR";
/* footer */
footer .top {background: #383f43;}
footer .top > div { width: 59rem; margin: 0 auto; padding:.65rem 0;}
footer .top > div ul { float: left;}
footer .top > div ul li { float: left; position: relative; padding: 0 .95rem 0 0; margin-top: 100rem;}
footer .top > div ul li:after {content:""; position: absolute; right: .45rem; top: 50%; margin-top: -0.2rem; width: 0.05rem; height: 0.4rem; background: #70767a;}
footer .top > div ul li a { color: #fff; font-size: 13px; line-height: 2.25rem;}
footer .top > div ul li:last-child::after {display: none;}
footer .top > div div { float: right;}
footer .top > div div p { display: inline-block; width: 12.1rem; height: 2.2rem; text-align: center; background: #2a3033; color:#fff; line-height: 2.25rem;}
footer .top > div div p strong { padding: 0 0 0 0.75rem; font-size: 1rem;}
footer .top > div div select {padding : 0 0 0 1.05rem; width: 10rem; height: 2.25rem; color: #191919; font-size:12px; box-sizing: border-box; border:none; vertical-align: 0.15rem;}
footer .btm  { padding: 2rem 0 2.2rem; background: #4c5459; text-align: center;}
footer .btm p {font-size: 25px; text-align: center; color:#fff;}
footer .btm img {display: inline-block; width: 7.5rem; height: 7.5rem; }
footer .btm ul { padding: 1.6rem 0 0.7rem;}
footer .btm li {display: inline-block; position:relative; padding: 0 0.5rem; color :#fff; font-size:14px;}
footer .btm li:after { content:""; position: absolute; right: 0; top:50%; margin-top: -0.2rem; width: 0.05rem; height: 0.4rem; background: #70767a;}
footer .btm address { font-size: 14px; color:#fff;}