body{
	margin:0;
	font-family : '¸¼Àº °íµñ', sans-serif;
}

#pageImg{
	background-image: url("../../images/userInfoImg/mypageImg.jpg");
	width: 100%;
	height: 500px;
}

#pageImgTxt{
	padding : 120px;
}

#pageImgTxt p{
	color: white;
}

#pageImgTxt .page_letter:nth-of-type(2){
	font-size: 30px;
	font-weight: bold;
}

#pageImgTxt .page_title{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}

#pageImgTxt.page_letter{
	font-size: 17px;
	line-height: 100px;
}

.contents{
	margin-top: 50px;
	margin-left: 350px;
	margin-right: 350px;
	margin-bottom: 50px;
}
#userSummary{
		text-align: center;
	}
	.summaryLeft{
		display: inline-block;
		margin-right: 100px;
	}
	.summaryLeft .currentStamp{
		font-size: 45px;
		font-weight: 700;
		color : #b461ff;
	}
	.summaryLeft .totalStamp{
		font-size: 30px;
	}
	.summaryLeft .currentCoupon{
		font-size: 45px;
		font-weight: 700;
		color : #b461ff;
	}
	.stamp_info{
		font-size: 20px;
		padding: 60px;
	}
	.summaryRight{
		display: inline-block;
	}
	.summaryRight table{
		margin-top: 100px;
	}
	.summaryRight td{
		text-align: left;
		font-size: 30px;
		padding: 10px;
	}
	.rank_color{
		color: #f7a300;
		font-weight: bold;
		font-size: 45px;
	}
	.userinfo{
		text-align: left;
		margin-top: 30px;
		font-size: 15px;
		color: #7a7a7a;
		padding: 40px;
		line-height: 10px;
		font-weight: bold;
	}
	
	#modifyButton{
		text-align: right;
	}
	
	#modifyButton input{
		background-color: #253b84;
		color: white;
		font-weight: bold;
		padding : 5px 20px 5px 20px;
		border-radius: 5px;
		border: 1px solid #253b84;
	}
	#stamp_area{
		margin-bottom: 100px;
	}
	
	#coupon{
		margin: auto;
	}
	
	#coupon .couponList{
		text-align: center;
		margin: 0 3em 0 3em;
	}
	
	#coupon .couponList img{
		padding: 10px;
	}
	#stamp_area .stamp_notice{
		border-bottom: 1px solid #dadada;
		margin-top: 150px;
		margin-bottom: 50px;
		padding-bottom: 17px;
	}
	#stamp_area .stamp_notice>h2{
		display: inline-block;
	}
	#stamp_area .stamp_notice>span{
		font-size: 15px;
		font-weight: bold;
		color: #7b7b7b;
	}
	#MemberShip {
		margin-top: 150px;
		margin-bottom: 150px;
	}
	#MemberShip table{
		margin:auto;
		text-align: center;
	}
	#MemberShip .Benefits{
		border-bottom: 1px solid #dadada;
		padding-bottom: 17px;
		margin-bottom: 30px;
	}
	#MemberShip .Benefit_img{
		padding: 30px;
	}
	
	#MemberShip .Benefit_contents{
		padding : 30px;
		font-size:14px;
	}
	#UsageGuide .Benefits{
		border-bottom: 1px solid #dadada;
		padding-bottom: 17px;
		margin-bottom: 30px;
	}
	#UsageGuide table{
		margin: 20px;
	}
	#UsageGuide .Benefit_img{
		padding: 30px;
		text-align: center;
	}
	#UsageGuide .Benefit_contents{
		padding : 30px 30px 30px 50px;
		font-size:17px;
	}
	#UsageGuide .Benefit_contents>span{
		color: #666666;
	}
	#my_qna{
						margin-bottom: 100px;
					}
					#my_qna>.qna_list{
						border-bottom: 1px solid #dadada;
						margin-top: 150px;
						margin-bottom: 50px;
						padding-bottom: 17px;
					}
					#qna_table{
						width: 100%;
						border-collapse: collapse;
					}
					.qna_row_width{
						width: 100%;
						font-size:17px;
					}
					.qna_row_width td:nth-child(1){
						width: 10%;
						text-align: center;
					}
					.qna_row_width td:nth-child(2){
						width: 60%;
					}
					.qna_row_width td:nth-child(3){
						width: 20%;
						text-align: center;
					}
					.qna_row_width td:nth-child(4){
						width: 10%;
						text-align: center;
					}
					.ans_title>td:nth-child(2){
						text-align: center;
					}
					.ans_title>td{
						padding-bottom: 10px;
					}
					.ans_list>td{
						border-top: 1px solid #d9d9d9;
						border-bottom: 1px solid #d9d9d9;
						padding: 10px 0px 10px 0px;
					}
					.ans_list>td:nth-child(4)>input{
						background-color: blue;
						color: white;
						font-weight: bold; 
						border-radius: 5px;
					}
					
					#recent_order{
						width: 100%;
						border-collapse: collapse;
					}
					#recent_order>.order_list{
						border-bottom: 1px solid #dadada;
						margin-top: 150px;
						margin-bottom: 50px;
						padding-bottom: 17px;
					}
					#order_table{
						width: 100%;
						border-collapse: collapse;
					}
					
					.order_row_width{
						width: 100%;
						font-size:17px;
					}
					.order_row_width td:nth-child(1){
						width: 10%;
						text-align: center;
					}
					.order_row_width td:nth-child(2){
						width: 60%;
					}
					.order_row_width td:nth-child(3){
						width: 15%;
						text-align: center;
					}
					.order_row_width td:nth-child(4){
						width: 15%;
						text-align: center;
					}
					
					.order_title>td:nth-child(2){
						text-align: center;
					}
					.order_title>td{
						padding-bottom: 10px;
					}
					.order_list>td{
						border-top: 1px solid #d9d9d9;
						border-bottom: 1px solid #d9d9d9;
						padding: 10px 0px 10px 0px;
					}
					.order_list>td:nth-child(4)>input{
						background-color: blue;
						color: white;
						font-weight: bold; 
						border-radius: 5px;
					}
@media screen and (max-width:1910px) { 
	.contents{
		margin-top: 50px;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 50px;
	}
}
	
@media screen and (max-width:1440px) { 
	.contents{
		margin-top: 50px;
		margin-left: 100px;
		margin-right: 100px;
		margin-bottom: 50px;
	}
	.summaryLeft{
		margin-right: 0;
	}
	#coupon .couponList{
		text-align: center;
		margin: 0 5em 0 5em;
	}
	#MemberShip .Benefit_contents{
		padding : 30px 0px 30px 0px;
		font-size: 14px;
	}
	#UsageGuide .Benefit_contents{
		font-size: 14px;
	}
}
	
@media screen and (max-width:1243px) { 
	.contents{
		margin-top: 50px;
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 50px;
	}
}