@charset "EUC-KR";

body{
	margin:0;
	background-image: url('../../images/login_Event_Img/main.jpg');
	background-size:cover;
	padding:0;
	font-family : '맑은 고딕', sans-serif;
	background-repeat:no-repeat;
}
.box {
	width:500px;
	height:700px;
	background-color:white;
	background-color: rgba( 255, 255, 255, 0.7 );
	text-align:center;
	border-radius:5px;
	margin:50px 0 80px 0;
}
.box_search_id{
	width:500px;
	height:240px;
	background-color:white;
	background-color: rgba( 255, 255, 255, 0.7 );
	text-align:center;
	border-radius:5px;
	margin:220px 0 0 0;
}
.box_in{
	text-align:left;
	padding:10px 0 0 0;
	margin: 0 50px 0;
}
.sign_up_ip{
	font-size:18px;
	font-weight:border;
	letter-spacing:2px;
	margin:17px 0 8px 0;
}
.login_ip{
	border:2px solid #b3b0ab;
	outline:0;
	background-color:rgba(255,255,255,0);
	padding:0 15px 0;
	height:40px;
	width:90%;
	font-size:15px;
	font-weight:500;
	border-radius:2px;
	letter-spacing:2px;
}
.sign_up_sub{
	border:0;
	outline:0;
	margin:24px 0 20px 0;
	background-color:rgba(166, 121, 7,0.7);
	color:white;
	height:60px;
	width:100%;
	font-weight:bold;
	font-size:20px;
	border-radius:2px;
}
.sign_up_exist{
	border:0;
	outline:0;
	background-color:rgba(255,255,255,0);
	border-bottom:0.9px solid black;
}
.overlap{
	outline:0;
	border:2px solid #b3b0ab;
	background-color:rgba(255,255,255,0);
	font-family : '맑은 고딕', sans-serif;
	height:45px;
	width:100px;
	margin:0 0 0 13px;
	border-radius:3px;
	font-weight:600;
	font-size:15px;
	color:#3d3c3c;
}
.overlap:hover{
	outline:0;
	border:2px solid #b3b0ab;
	background-color:rgba(166, 121, 7,0.7);
	font-family : '맑은 고딕', sans-serif;
	height:45px;
	width:100px;
	margin:0 0 0 13px;
	border-radius:3px;
	font-weight:600;
	font-size:15px;
	color:white;
}