body{
	margin:0;
	font-family : '¸¼Àº °íµñ', sans-serif;
}

#pageImg{
	background-image: url("../images/userInfoImg/mypageImg.jpg");
	width: 100%;
	height: 500px;
}

#pageImgTxt{
	padding : 120px;
}

#pageImgTxt p{
	color: white;
}

#pageImgTxt .page_letter:nth-of-type(2){
	font-size: 30px;
	font-weight: bold;
}

#pageImgTxt .page_title{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}

#pageImgTxt.page_letter{
	font-size: 17px;
	line-height: 100px;
}

.contents{
	margin-top: 50px;
	margin-left: 350px;
	margin-right: 350px;
	margin-bottom: 50px;
}

@media screen and (max-width:1920px) { 
	.contents{
		margin-top: 50px;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 50px;
	}
}
	
@media screen and (max-width:1440px) { 
	.contents{
		margin-top: 50px;
		margin-left: 100px;
		margin-right: 100px;
		margin-bottom: 50px;
	}
}
	
@media screen and (max-width:1243px) { 
	.contents{
		margin-top: 50px;
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 50px;
	}
}