body{
	margin:0;
	font-family : '¸¼Àº °íµñ', sans-serif;
}
	
#pageImg{
	background-image: url("../images/noticeImg/noticeImg.jpg");
	width: 100%;
}
	
#pageImgTxt{
	padding : 50px;
}
	
#pageImgTxt p{
	color: white;
}
	
#pageImgTxt .page_title{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
	
#pageImgTxt.page_letter{
	font-size: 17px;
}

.contents{
	margin-top: 50px;
	margin-left: 450px;
	margin-right: 450px;
	margin-bottom: 50px;
	border: 1px solid #dadada;
	padding : 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
}

#pageLocation > p{
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: gray;
	font-family : '¸¼Àº °íµñ', sans-serif;
}
#subtitle{
	font-size: 2.25em;
	margin-top: 40px;
	margin-bottom: 80px;
}
@media screen and (max-width:1910px) { 
	.contents{
		margin-top: 50px;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 50px;
	}
}
	
@media screen and (max-width:1440px) { 
	.contents{
		margin-top: 50px;
		margin-left: 100px;
		margin-right: 100px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width:1243px) { 
	.contents{
		margin-top: 50px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 50px;
	}
}