@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*banner*/
body{
	margin:0;
	font-family : sans-serif;
}
#pageImg{
	background-image: url("../images/noticeImg/noticeImg.jpg");
	width: 100%;
}
	
#pageImgTxt{
	padding : 50px;
}
	
#pageImgTxt p{
	color: white;
}
	
#pageImgTxt .page_title{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.orderbtn{
	width:140px;
	height:80px;
	border-radius:10px;
	cursor:pointer;
	background-color:lightgray;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
	padding-bottom:20px;
}
.orderbtn:hover{
	background-color:black;
	color:white;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
/*menu bar*/
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    display:table;
}
.menubar {
    float: left;
}
.menubar a{
    display: block;
    color: #000000;
    padding: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.menubar a:hover{
    background-color:gray;
    color: white;
}

/*coffee menu css*/
.moly{
    display: grid;
    grid-template-rows: repeat(3,250px);
    grid-template-columns: repeat(3,350px);
    gap:10px 10px;
    align-content:center;
    justify-content:center;
}
.cof{
	border:2px solid #e7e7e7;
	border-radius:4px;
	padding: .5rem;
	text-align:center;
    color:#000000;
    overflow:hidden; 
}
.cof a{
    text-decoration:none;
}
.cof p{
	padding-top:7px;
}
.cof img{
	padding-top:10px;
    width: 150px;
    height: 150px;

}
.cof img:hover{
    cursor:pointer;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
	transition: all 0.3s ease-in-out;
}
/*Orderlist page css*/
#ordertable{
	padding-top:30px;
	width:70%;
	border:0;
	border-collapse: collapse;
	text-align:center;
}
#ordertable th{
	border-bottom: 1px solid #444444;
	font-weight:bold;
	padding:10px;
}
#ordertable td{
	border-bottom: 1px solid #444444;
}
#ordertable #list1{
	width:65%;
}
#ordertable tr{
	border-bottom: 1px solid #444444;
	padding:10px;
}
#ordertable .cartnow{
	border:none;
	text-align:center;
	color:#444444;
	font-size:25px;
	width:80%;
}
#ordertable .cartco{
	border:none;
	text-align:center;
	color:#444444;
	font-size:25px;
	width:35%;
}
#ordertable .word{
	font-family: 'CookieRunOTF-Bold';
	text-align:center;
	font-size:18px;
	font-weight:700;
	width: 700px;
}

#ordertable #cartmay{
	border:none;
	text-align:center;
	color:#444444;
	font-size:25px;
	width:10%;
}
#ai{
	border-bottom:none;
	text-align:right;
	font-size:25px;
	font-weight:bold;
}